---
// src/pages/en/index.astro
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import SectionPrincipal from '../../components/SectionPrincipal.astro';
import SectionGaleria from '../../components/SectionGaleria.astro';
import SectionPreWeding from '../../components/SectionPreWeding.astro';
import SectionCelebration from '../../components/SectionCelebration.astro';
import SectionDressCode from '../../components/SectionDressCode.astro';
import SectionGift from '../../components/SectionGift.astro';
import SectionPlayList from '../../components/SectionPlayList.astro';
import SectionHospedaje from '../../components/SectionHospedaje.astro';
import SectionSugerencia from '../../components/SectionSugerencia.astro';
import SectionContact from '../../components/SectionContact.astro';
import SectionForm from '../../components/SectionForm.astro';
import Footer from '../../components/Footer.astro';
---

<Layout title="Our Story - Alejandra & Alexander">
  <Header lang="en" />
  <main class="relative min-h-screen">
    <SectionPrincipal lang="en" />
        <SectionGaleria lang="en" />
        <SectionPreWeding lang="en" />
        <SectionCelebration lang="en" />
        <SectionDressCode lang="en" />
        <SectionGift lang="en" />
        <SectionPlayList lang="en" />
        <SectionHospedaje lang="en" />
        <SectionSugerencia lang="en" />
        <SectionContact lang="en" />
        <SectionForm lang="en" />
    </main>
    <Footer lang="en" />
</Layout>