---
// src/pages/index.astro
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import SectionPrincipal from "../components/SectionPrincipal.astro";
import SectionGallery from "../components/SectionGallery.astro";
import SectionPreWedding from "../components/SectionPreWedding.astro";
import SectionCelebration from "../components/SectionCelebration.astro";
import SectionDressCode from "../components/SectionDressCode.astro";
import SectionGifts from "../components/SectionGifts.astro";
import SectionPlaylist from "../components/SectionPlaylist.astro";
import SectionAccommodation from "../components/SectionAccommodation.astro";
import SectionSuggestions from "../components/SectionSuggestions.astro";
import SectionContact from "../components/SectionContact.astro";
import SectionForm from "../components/SectionForm.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Nuestra Historia - Alejandra & Alexander">
  <Header />
  <main class="relative min-h-screen">
    <SectionPrincipal />
    <SectionGallery />
    <SectionPreWedding />
    <SectionCelebration />
    <SectionDressCode />
    <SectionGifts />
    <SectionPlaylist />
    <SectionAccommodation />
    <SectionSuggestions />
    <SectionContact />
    <SectionForm />
  </main>
  <Footer />
</Layout>
