---
// src/pages/de/index.astro
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import SectionPrincipal from "../../components/SectionPrincipal.astro";
import SectionGallery from "../../components/SectionGallery.astro";
import SectionPreWedding from "../../components/SectionPreWedding.astro";
import SectionCelebration from "../../components/SectionCelebration.astro";
import SectionDressCode from "../../components/SectionDressCode.astro";
import SectionGifts from "../../components/SectionGifts.astro";
import SectionPlaylist from "../../components/SectionPlaylist.astro";
import SectionAccommodation from "../../components/SectionAccommodation.astro";
import SectionSuggestions from "../../components/SectionSuggestions.astro";
import SectionContact from "../../components/SectionContact.astro";
import SectionForm from "../../components/SectionForm.astro";
import Footer from "../../components/Footer.astro";
---

<Layout title="Our Story - Alejandra & Alexander">
  <Header lang="de" />
  <main class="relative min-h-screen">
    <SectionPrincipal lang="de" />
    <SectionGallery lang="de" />
    <SectionPreWedding lang="de" />
    <SectionCelebration lang="de" />
    <SectionDressCode lang="de" />
    <SectionGifts lang="de" />
    <SectionPlaylist lang="de" />
    <SectionAccommodation lang="de" />
    <SectionSuggestions lang="de" />
    <SectionContact lang="de" />
    <SectionForm lang="de" />
  </main>
  <Footer lang="de" />
</Layout>
